.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: black;
    font-style: normal;
}



/* shared style */
.secondary-text {
    color: #252432;
}

.primary-text {
    color: #4E47FF;
    font-weight: bold;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #6C63FF;
    font-size: 18px;
    cursor: pointer;
}

.section-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.text-center {
    text-align: center;
}

/* Header section */
.header {
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title {
    font-size: 34px;
}

/* banner styles */
.banner {

    padding: 110px 0 200px 0;
    text-align: center;
}

.banner-title {
    font-size: 65px;
}


/* Main */
main {
    background-color: #F5F8FF;
}

main section {
    padding: 120px 0;
}

/*  action section */
.action {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.action-content {
    width: 517px;
}

.action-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.action-img-pic {
    width: 403px;
    border-radius: 48px;
}

/* productive-user section */
.productive-user {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #E5E7FF;
    border-radius: 50px;
    padding: 50px 142px;
}

.users-container {
    display: flex;
    justify-content: space-around;

}

.p-user-title {
    font-size: 38px;
}

.user-title {
    font-size: 80px;
    margin-bottom: -5px;
}

.user-subtitle {
    font-size: 20px;
    color: 000000;
    font-weight: 400;
}

/* feadback section */

.feadback-section {
    max-width: 1140px;
    margin: 0 auto;
}

.feadback-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.feadback {
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 24px;
}
.feadback-subtitle{
    font-size: 20px;
}
.reviewer-info {
    display: flex;
    align-items: center;
    gap: 10px;

}

.reviewer-info p {
    margin-top: 0px;
}

.reviewer-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

/*  GetInTouch section */
.GetInTouch-section {
    background-color: #f5f7ff;
    padding: 60px 10%;
}

.get-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-text {
    width: 50%;
    font-size: 48px;
    font-weight: bold;
    color: #000;
}

.get-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}

.get-form input,
.get-form textarea {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.get-form textarea {
    height: 100px;
}

.get-form button {
    background-color: #4E47FF;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.get-form button:hover {
    background-color: yellowgreen;
}

/* footer section */

footer {
    margin-top: auto;
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.footer-title {
    font-size: 32px;
    font-weight: bold;
    color: #4a3aff;
}

.footer-description {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.footer-menu {
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

.menu span {
    margin: 0 10px;
    cursor: pointer;
}